* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #171717;
}

.content {
  margin-top: 200px;
  margin-bottom: 50px;
}

.teks {
  margin-left: 80px;
}

.content img {
  margin-top: -150px;
  height: 500px;
}

.about h6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.box {
  background-color: #212121;
  padding: 30px;
}

.box img {
  height: 60px;
}

.box h2 {
  margin-top: 30px;
  color: #535353;
}

.card {
  background-color: #212121;
}

input {
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #4f4f4f !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  color: grey !important;
}

span {
  color: #4f4f4f;
}

textarea {
  background: transparent !important;
  border-radius: 0 !important;
  border: 1px solid #4f4f4f !important;
}
